.navigatemenu {
	height:1270px;
	width:250px; 
	float:left;
	background-color: #706F73;
}
.maincontent {
	height:200px;
	float: left;
	text-align:center;
}
.titlecontent {
	background-color: #706F73;
	width:100%;
	height:60px;
	text-align: center;
}
.naglowek {
	font-size:50px;
	font-family: "Times New Roman", Times, serif;
}
.labelClass {
	font-size:20px;
	font-family: "Times New Roman", Times, serif;
	margin-left:5px;
}
.inputIP {
	width: 170px;
	border: 2px solid;
	border-color: #FF4E6C;

}
.inputSampl {
	width: 170px;
	border: 2px solid;
	border-color: #FF4E6C;
}
table.steelBlueCols {
  border: 3px solid #555555;
  background-color: #555555;
  width: 400px;
  height: 240px;
  text-align: center;
  border-collapse: collapse;
}
table.steelBlueCols td, table.steelBlueCols th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
table.steelBlueCols tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
table.steelBlueCols thead {
  background: #398AA4;
  border-bottom: 10px solid #398AA4;
}
table.steelBlueCols thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #398AA4;
}
table.steelBlueCols thead th:first-child {
  border-left: none;
}

table.steelBlueCols tfoot td {
  font-size: 13px;
}
table.steelBlueCols tfoot .links {
  text-align: right;
}
table.steelBlueCols tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}